<!-- ----- début fragmentCaveFooter.html -->
<p/>
<hr/>
<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Projet MVC Printemps 2025 </li> 
    <li class="list-group-item">UTT, YABRE Housséni et FOTIO NGNINLAJUNG Francky Steve, Technologies du Web </li>
  </ul>
</div>
<hr/>

<!-- Activation des tooltips Bootstrap -->
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el))
</script>
<!-- ----- fin fragmentCaveFooter.html -->
